/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Award UI */

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  position: relative;
  background-image: url(./assets/images/bg-low.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.visible-overlay {
  visibility: visible !important;
  opacity: 0.5 !important;
  transition: 0.3s opacity ease-in-out !important;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.3s opacity ease-in-out !important;
  transform: scale(1) !important;
}

.body-dark-overlay {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
}

#award_ui {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.award_ui_h2 {
  color: #000;
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 47px;
}

.award_ui_h3 {
  font-size: 32px;
  font-weight: 600;
}

.award_ui_h4 {
  font-size: 20;
  font-weight: 700;
  line-height: 40px;
}

.gold_color {
  color: #f2c62f;
}

.silver_color {
  color: silver;
}

.bronze_color {
  color: rgb(192, 68, 68);
}

.award_ui_top_pics {
  display: flex;
  margin-top: 47.2px;
  gap: 20px;
}

.top_pics_award {
  width: 373px;
  height: 460px;
  padding: 22px;
  color: white;
  position: relative;
  background-size: cover;
  background-position: -350px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  border-radius: 9.6px;
  overflow: none;
  cursor: pointer;
}

.top_pics_award > .dark_overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1; /* Ensure the overlay is visible */
  border-radius: 9.6px;
}

.top_pics_award:hover > .dark_overlay {
  opacity: 0; /* Reduce opacity to 0 on hover */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

.top_pics_award:nth-child(1) {
  background-image: url(./assets/images/AI-tools-jumbotron.716acfa640f9.png);
}

.top_pics_award:nth-child(2) {
  background-image: url(./assets/images/IAICC_robot.png);
  background-position: 0%;
}

.top_pics_award:nth-child(3) {
  background-image: url(./assets/logos/blender_logo.png);
  background-size: auto;
  background-position: center;
  background-color: white;
}

.top_pics_award_text {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.read_more {
  color: #009300;
  font-weight: 900;
}

#award_ui
  > div.award_ui_top_pics
  > div:nth-child(2)
  > div.top_pics_award_text
  > h4 {
  line-height: 1.2;
}

.award_ui_mid_pics {
  text-align: center;
  margin-top: 77px;
}

.award_ui_mid_pics_container {
  display: flex;
  margin-top: 47px;
  gap: 20px;
}

.award_ui_mid_pics_left,
.award_ui_mid_pics_right {
  width: 568px;
}

.award_ui_mid_pics_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.award_ui_mid_pics_right_top,
.award_ui_mid_pics_right_bottom {
  height: 290px;
}

.award_ui_mid_pics_left,
.award_ui_mid_pics_right_top,
.award_ui_mid_pics_right_bottom {
  border-radius: 9.6px;
  background-size: cover;
}

.award_ui_mid_pics_left {
  background-image: url(./assets/images/screencapture-blenderstudio-cn-zh-hant-welcome-2025-04-10-10_54_27.png);
  background-size: cover;
}

.award_ui_mid_pics_right_top {
  background-image: url(./assets/images/screencapture-awnchina-cn-2025-04-10-10_25_14.png);
  background-size: cover;
}

.award_ui_mid_pics_right_bottom {
  background-image: url(./assets/images/09.jpg);
  background-size: cover;
}

.award_ui_bottom_pics {
  text-align: center;
  width: 1158px;
}

#award_ui > div.award_ui_bottom_pics > h3 {
  margin-top: 77px;
  margin-bottom: 47px;
}

#award_ui > div.award_ui_bottom_pics > div > div > div > img {
  position: relative;
}

.award_ui_mid_pics_container {
  color: white;
}

#award_ui > div.award_ui_mid_pics > div > div.award_ui_mid_pics_left,
#award_ui
  > div.award_ui_mid_pics
  > div
  > div.award_ui_mid_pics_right
  > div.award_ui_mid_pics_right_top,
#award_ui
  > div.award_ui_mid_pics
  > div
  > div.award_ui_mid_pics_right
  > div.award_ui_mid_pics_right_bottom {
  position: relative;
  cursor: pointer;
}

.mid-dark-overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 9.6px;
}

.mid-text {
  position: absolute;
  top: 0;
  text-align: left;
  padding: 2rem;
  height: 100%;
}

.mid-text:hover {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.fade-away {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.award_ui_mid_pics_container h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
}

.award_ui_mid_pics_container p {
  font-size: 16px;
  line-height: 30px;
}

/* Award popup modals */

.popup-modal {
  padding: 9px;
  background-color: white;
  position: fixed;
  top: 12%;
  left: 20%;
  width: 70%;
  z-index: 10000;
  border-radius: 9.6px;
  opacity: 1;
  display: flex;
  flex-direction: row; /* Default layout */
  background-image: url(./assets/images/bg-low.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.popup-modal-left,
.popup-modal-right {
  width: 50%; /* Default width */
}

.popup-modal-left {
  display: flex;
  flex-direction: column;
  gap: 117px;
  padding: 36px;
}

.popup-modal-logo img {
  width: 250px;
}

.popup-modal-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popup-modal-title {
  font-size: 40px;
  font-weight: 700;
}

.popup-modal-info {
  width: 428px;
  line-height: 24px;
}

.popup-modal-button button {
  width: 100%;
  background-color: #942126;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}

.popup-modal-button button:hover {
  background-color: #c57e73;
}

.popup-modal-right {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9.6px;
}

.popup-modal-exit {
  width: 30px;
  float: right;
  opacity: 0.5;
  cursor: pointer;
}

.popup-modal-exit:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.modal-1 .popup-modal-right {
  background-image: url(./assets/images/popup-modals/Krystal_OTP_modal.png);
  background-position: 20% 50%;
}

.modal-2 .popup-modal-right {
  background-image: url(./assets/images/popup-modals/IAICC_blender_day.jpg);
}

.modal-3 .popup-modal-right {
  background-image: url(./assets/images/popup-modals/blender_figure.png);
}

.modal-1,
.modal-2,
.modal-3 {
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  transform: scale(0);
}

#carouselExampleIndicators {
  height: 80vh;
  border-radius: 9.6px;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
}

#carouselExampleIndicators > div > div > img {
  object-fit: cover;
}

#carouselExampleIndicators > div > div.carousel-item > img {
  height: 80vh;
  object-position: center;
  width: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-item .carousel-text {
  color: white;
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 100;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.carousel-text p {
  font-size: 16px;
  text-align: left;
  width: 50%;
  line-height: 30px;
}

.carousel-dark-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.5;
}

#carouselExampleIndicators p {
  font-weight: 400;
}

#carouselExampleIndicators a {
  font-weight: 900;
  color: white;
}

@media (max-width: 1343px) {
  .popup-modal {
    flex-direction: column-reverse; /* Stack elements vertically */
    top: 1%;
    left: 5%;
    width: 90%; /* Adjust width for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }

  .popup-modal-left,
  .popup-modal-right {
    width: 100%; /* Full width for stacked layout */
    height: auto; /* Adjust height based on content */
  }

  .popup-modal-left {
    text-align: center; /* Center-align content for smaller screens */
    padding: 20px; /* Reduce padding for smaller screens */
    gap: 4rem; /* Reduce gap between elements */
  }

  .popup-modal-right {
    height: 300px; /* Set a fixed height for the image section */
    background-position: center; /* Center the background image */
  }

  .popup-modal-text {
    align-items: center;
  }

  .popup-modal-info {
    width: auto;
  }

  .modal-3 .popup-modal-right {
    background-position: 0 30%;
  }
}

@media (width <= 1130px) {
  .award_ui_top_pics {
    flex-direction: column;
    width: 100%;
  }

  .top_pics_award {
    width: 100%;
    background-position: center;
  }

  .award_ui_mid_pics_container {
    flex-direction: column;
  }

  #award_ui > div.award_ui_mid_pics > div > div.award_ui_mid_pics_left {
    height: 290px;
  }
}

@media (width <= 1019px) {
  #carouselExampleIndicators {
    width: 90vw;
    margin: 0 auto;
  }

  .award_ui_h3 {
    font-size: 22px;
  }
}

@media (width <= 575px) {
  .award_ui_mid_pics_left,
  .award_ui_mid_pics_right {
    width: 100%;
  }

  .award_ui_mid_pics_right_top,
  .award_ui_mid_pics_right_bottom {
    height: 500px;
  }

  #award_ui > div.award_ui_mid_pics > div > div.award_ui_mid_pics_left {
    height: 500px;
  }
}
